body {
    font-size: 75%;
    margin-right: 200px;
    margin-left: 200px;
    background-image: url("backgroundjojo.png");
}

header,
main,
footer {
    background-color: #8a6262;
    font-size: 1.6em;
}


header h1 {
	text-align: center;
}

header h2 {
    text-align: center;
}

h1, h2 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}

section {
	margin: 1.875em 0;
}


/* 
nav ol li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
} */

p {
    padding: 50px;
}

li {
    padding: 25px;
    font-style: oblique;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 80%;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: "480";
    width: "854";
  }

}